@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@inject IStringLocalizer<ValidationResources> localizer
<h1>@localizer[BussinessLogicConstants.ChangeYourAccountMessage]</h1>

<div>
    <h4>@localizer[BussinessLogicConstants.ChangeAccontPreferences]</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
