@{
    string messageType = string.Empty;
}
@if (TempData.ContainsKey("__Message"))
{
    var message = TempData.Get<MessageModel>("__Message");


    @if (message.Type == MessageType.Success)
    {
        messageType = "success";
    }
    else
    {
        messageType = "danger";
    }
    <div class="alert alert-@messageType alert-dismissible fade show" role="alert">
        @message.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
