<div class="form-group col-md-4">
    <label>Criteria</label>
    <select class="form-control" id="criteria" name="Criteria">
        <option value="select_criteria">Select criteria</option>
        <option value="search_table_from_date_to_date">Search table's/user's orders for period</option>
        <option value="most_sold_product">Most sold product</option>
        <option value="most_sold_table">Most sold table/user for period</option>
        <option value="last_orders">Last orders</option>
    </select>
</div>
