<div class="form-group col-md-4">
    <label>Критерий</label>
    <select class="form-control" id="criteria" name="Criteria">
        <option value="select_criteria">Избери критерий</option>
        <option value="search_table_from_date_to_date">Поръчки на потребител за определен период</option>
        <option value="most_sold_product">Най-продаван продукт</option>
        <option value="most_sold_table">Най-продаван потребител за период</option>
        <option value="last_orders">Последно завършени поръчки</option>
    </select>
</div>
