@model NumberBindingModel
<form class="searching-form" id="last_orders" method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Брой последни поръчки</label>
            <select class="form-control" asp-for="Number">
                <option value="">Избери брой</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <span class="text-danger" asp-validation-for="Number"></span>
        </div>
        <div class="form-group col-md-2">
            <input class="btn btn-dark form-control" style="margin-top:31px;" type="submit" value="Търси" />
        </div>
    </div>
</form>
