@model OrderSearchBindingModel
@{ var users = this.ViewData["users"] as IEnumerable<SelectListItem>;}
<form class="searching-form" id="user_orders" method="post">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Потребителско име</label>
            @Html.DropDownList("UserId", users, "Избери маса", new { @class = "form-control" })
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label for="inlineFormInputGroup">от Дата</label>
            <input class="form-control" type="date" value="@DateTime.Now" asp-for="StartTime">
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label>до Дата</label>
            <input class="form-control" type="date" value="@DateTime.Now" asp-for="EndTime">
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2">
            <input class="btn btn-dark form-control" style="margin-top:31px;" type="submit" value="Търси" />
        </div>
    </div>
</form>